@use "../../../../../scss/" as *;

.forgot-password {
  padding: 20px;
  margin: 20px;
  box-shadow: $box-shadow;
  border-radius: 10px;

  &__heading {
    font-size: 1.5rem;
    margin: 20px 0;
    text-align: center;
  }
  &__form-group {
    margin-bottom: 15px;

    & input {
      border: 1px solid #ccc;
      outline: none;
      padding: 8px 12px;
      border-radius: 5px;
      font-size: 0.9rem;
      min-width: 200px;
    }

    & button {
      border: none;
      outline: none;
      padding: 6px 8px;
      background-color: $main-color;
      color: $txt-color;
      cursor: pointer;
      border-radius: 5px;
    }

    & label {
      display: inline-block;
      min-width: 150px;
      font-size: 0.9rem;
    }
  }
}
