@use "../../../../../../scss/" as *;

.search-product {
  margin: 10px 0;

  & input {
    padding: 8px 12px !important;
    border: 1px solid #ccc;
    outline: none;
    border-radius: 5px;
    margin-right: 5px;
    max-width: 200px;
  }

  & button {
    padding: 8px 12px;
    border: none;
    outline: none;
    border-radius: 5px;
    background-color: $main-color;
    color: $txt-color;
    cursor: pointer;
  }
}
